n8n/offerte-calculators.workflow.json
{
  "name": "Diversions — Offertes rekenmodules verwerken",
  "meta": {
    "description": "Ontvangt offerte-/adviesaanvragen vanuit stap 3 van de 10 rekenmodules op diversions.nl (pretest, effectmeting, customer-journey, klanttevredenheid, diepte-interviews, groepsdiscussie, doelgroeponderzoek, kwantitatief-onderzoek, kwalitatief-onderzoek, waardepropositie) — statische Astro-site, client-side fetch POST naar één gedeelde webhook. Het 'calculator'-veld bepaalt de nette naam in de e-mails (labelmap in de node 'Valideer en label'; onbekende id's vallen terug op een generiek label en worden NIET geweigerd). Volgorde bewust: honeypot → valideren → OPSLAAN (Sheets) → 200 naar de browser → mails. Zo is de lead al opgeslagen en de bezoeker al geholpen vóórdat er gemaild wordt; faalt een mail, dan alarmeert de error workflow. Afzender = info@diversions.nl. CORS: productie + staging (staging-origin na livegang verwijderen).",
    "templateCredsSetupCompleted": false
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b3737101-9313-4c3d-a9fa-73cb22838364",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://diversions.nl,https://www.diversions.nl,https://friendly-dust-xs6wxtya91.ploi.link"
        }
      },
      "id": "node-webhook",
      "name": "Webhook: offerte-calculators",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "b3737101-9313-4c3d-a9fa-73cb22838364",
      "notes": "Zelfde path als voorheen; de site-env (PUBLIC_CALCULATOR_WEBHOOK_URL) hoeft niet te wijzigen. Staging-origin (ploi.link) staat erin voor de livegang-test; daarna verwijderen."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "honeypot-leeg",
              "leftValue": "={{ $json.body.company_website }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "node-honeypot",
      "name": "Honeypot leeg? (anti-spam)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Valideert de aanvraag en voegt een net maillabel toe per calculator-id.\n// NIEUWE CALCULATOR OP DE SITE? Voeg hier één regel toe aan LABELS.\n// Onbekende id's worden NIET geweigerd (val terug op generiek label),\n// zodat een vergeten regel nooit leads kost.\nconst b = $input.first().json.body || {};\n\nconst LABELS = {\n  'pretest': 'de pretest',\n  'effectmeting': 'het campagne-effectonderzoek',\n  'customer-journey': 'het customer journey onderzoek',\n  'klanttevredenheid': 'het klanttevredenheidsonderzoek',\n  'diepte-interviews': 'de diepte-interviews',\n  'groepsdiscussie': 'de groepsdiscussie',\n  'doelgroeponderzoek': 'het doelgroeponderzoek',\n  'kwantitatief-onderzoek': 'het kwantitatief onderzoek',\n  'kwalitatief-onderzoek': 'het kwalitatief onderzoek',\n  'waardepropositie': 'het waardepropositie-onderzoek',\n};\n\nconst details = [];\nif (!b.naam || !String(b.naam).trim()) details.push('naam ontbreekt');\nif (!b.bedrijf || !String(b.bedrijf).trim()) details.push('bedrijfsnaam ontbreekt');\nif (!b.email || !/^[^@\\s]+@[^@\\s]+\\.[^@\\s]+$/.test(String(b.email))) details.push('geldig e-mailadres ontbreekt');\nif (b.consent !== true) details.push('AVG-akkoord ontbreekt');\n\nconst label = LABELS[b.calculator] || ('de rekenmodule \"' + (b.calculator || 'onbekend') + '\"');\nconst bekend = Boolean(LABELS[b.calculator]);\nconst samenvatting = Array.isArray(b.samenvatting) ? b.samenvatting : [];\nconst samenvattingTekst = samenvatting.length ? '- ' + samenvatting.join('\\n- ') : '—';\n\nreturn [{\n  json: {\n    valid: details.length === 0,\n    details,\n    aanvraag: {\n      ...b,\n      label,\n      bekendeCalculator: bekend,\n      samenvattingTekst,\n      richtprijsFormatted: b.richtprijsFormatted || 'Op aanvraag',\n    },\n  },\n}];"
      },
      "id": "node-validate",
      "name": "Valideer en label",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "is-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "node-valid-if",
      "name": "Geldige aanvraag?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [660, 200]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "VERVANG_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Offertes",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tijdstip": "={{ $now.toISO() }}",
            "Calculator": "={{ $('Valideer en label').item.json.aanvraag.calculator }}",
            "Actie": "={{ $('Valideer en label').item.json.aanvraag.actie }}",
            "Bedrijf": "={{ $('Valideer en label').item.json.aanvraag.bedrijf }}",
            "Naam": "={{ $('Valideer en label').item.json.aanvraag.naam }}",
            "E-mail": "={{ $('Valideer en label').item.json.aanvraag.email }}",
            "Telefoon": "={{ $('Valideer en label').item.json.aanvraag.telefoon }}",
            "Tier": "={{ $('Valideer en label').item.json.aanvraag.tier || '' }}",
            "Richtprijs": "={{ $('Valideer en label').item.json.aanvraag.richtprijsFormatted }}",
            "Keuzes": "={{ JSON.stringify($('Valideer en label').item.json.aanvraag.keuzes) }}",
            "Consent": "={{ $('Valideer en label').item.json.aanvraag.consent }}",
            "Bron": "rekenmodule diversions.nl"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "node-sheets",
      "name": "Google Sheets: aanvraag opslaan",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [880, 100],
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VERVANG_GSHEETS_CRED_ID",
          "name": "Google Sheets — Diversions"
        }
      },
      "notes": "Opslaan gebeurt bewust VÓÓR de respons en de mails: de lead staat veilig, wat er daarna ook misgaat. onError: continueRegularOutput zodat een Sheets-storing de bezoeker en de mails niet blokkeert (de error workflow ziet de mislukte node alsnog). Zelfde tabblad 'Offertes' en kolommen als voorheen; selecteer na import het spreadsheet + tabblad opnieuw in de pickers."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true } }}",
        "options": {}
      },
      "id": "node-respond-ok",
      "name": "Respond 200 (OK)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1100, 100],
      "notes": "De bezoeker krijgt direct na het opslaan zijn succesmelding; de mails volgen erna. Zo wacht niemand op Mailjet en kost een mailstoring geen leads."
    },
    {
      "parameters": {
        "fromEmail": "info@diversions.nl",
        "fromName": "Diversions",
        "toEmail": "={{ $('Valideer en label').item.json.aanvraag.email }}",
        "subject": "={{ $('Valideer en label').item.json.aanvraag.actie === 'advies' ? 'We hebben je adviesaanvraag ontvangen' : 'We hebben je offerteaanvraag ontvangen' }} — Diversions",
        "text": "=Hoi {{ $('Valideer en label').item.json.aanvraag.naam }},\n\nBedankt voor je aanvraag voor {{ $('Valideer en label').item.json.aanvraag.label }} via diversions.nl.\n\nJouw keuzes:\n{{ $('Valideer en label').item.json.aanvraag.samenvattingTekst }}\n\nRichtprijs: {{ $('Valideer en label').item.json.aanvraag.richtprijsFormatted }} (excl. btw)\n\n{{ $('Valideer en label').item.json.aanvraag.actie === 'advies' ? 'Een van onze onderzoekers neemt binnen één werkdag contact met je op om je verder te adviseren.' : 'Een van onze onderzoekers neemt binnen één werkdag contact met je op om de offerte te bevestigen.' }}\n\nHeb je met spoed een vraag? Bel ons gerust op (055) 20 32 193.\n\nMet vriendelijke groet,\nTeam Diversions\ninfo@diversions.nl",
        "additionalFields": {}
      },
      "id": "node-mail-confirm",
      "name": "Mailjet: bevestiging naar aanvrager",
      "type": "n8n-nodes-base.mailjet",
      "typeVersion": 1,
      "position": [1320, 100],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "mailjetEmailApi": {
          "id": "VERVANG_MAILJET_CRED_ID",
          "name": "Mailjet — Diversions"
        }
      },
      "notes": "Verwijst naar de node 'Valideer en label' (niet $json): na een Respond-node is $json niet gegarandeerd de inzending. fromEmail moet een GEVERIFIEERDE sender/domein in Mailjet zijn (SPF/DKIM)."
    },
    {
      "parameters": {
        "fromEmail": "info@diversions.nl",
        "fromName": "Diversions website",
        "toEmail": "info@diversions.nl",
        "subject": "=Nieuwe {{ $('Valideer en label').item.json.aanvraag.actie === 'advies' ? 'adviesaanvraag' : 'offerteaanvraag' }} — {{ $('Valideer en label').item.json.aanvraag.label }} ({{ $('Valideer en label').item.json.aanvraag.naam }})",
        "text": "=Nieuwe {{ $('Valideer en label').item.json.aanvraag.actie === 'advies' ? 'adviesaanvraag' : 'offerteaanvraag' }} voor {{ $('Valideer en label').item.json.aanvraag.label }} via diversions.nl.\n\nBedrijf: {{ $('Valideer en label').item.json.aanvraag.bedrijf }}\nNaam: {{ $('Valideer en label').item.json.aanvraag.naam }}\nE-mail: {{ $('Valideer en label').item.json.aanvraag.email }}\nTelefoon: {{ $('Valideer en label').item.json.aanvraag.telefoon || '—' }}\n\nKeuzes:\n{{ $('Valideer en label').item.json.aanvraag.samenvattingTekst }}\n\nRichtprijs: {{ $('Valideer en label').item.json.aanvraag.richtprijsFormatted }} (excl. btw)\n\nToelichting van de aanvrager:\n{{ $('Valideer en label').item.json.aanvraag.bericht || '—' }}\n\n—\nCalculator-id: {{ $('Valideer en label').item.json.aanvraag.calculator }}{{ $('Valideer en label').item.json.aanvraag.bekendeCalculator ? '' : ' (LET OP: onbekend id — labelmap in n8n bijwerken)' }}\nAVG-consent gegeven: {{ $('Valideer en label').item.json.aanvraag.consent ? 'ja' : 'NEE — controleer!' }}\nVerzonden: {{ $now.toISO() }}",
        "additionalFields": {
          "replyTo": "={{ $('Valideer en label').item.json.aanvraag.email }}"
        }
      },
      "id": "node-mail-notify",
      "name": "Mailjet: interne notificatie",
      "type": "n8n-nodes-base.mailjet",
      "typeVersion": 1,
      "position": [1540, 100],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "mailjetEmailApi": {
          "id": "VERVANG_MAILJET_CRED_ID",
          "name": "Mailjet — Diversions"
        }
      },
      "notes": "Reply-To = e-mail van de aanvrager, zodat 'Beantwoorden' direct naar de klant gaat. Meldt in de voettekst wanneer een calculator-id niet in de labelmap staat."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"details\": $json.details } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "node-respond-400",
      "name": "Respond 400 (ongeldig)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 320],
      "notes": "Verplichte velden ontbreken (naam/bedrijf/e-mail/consent). De site valideert dit zelf al; dit vangt directe POSTs en regressies af. Details in de body zodat testen (curl) direct laten zien wat er mist."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true } }}",
        "options": {}
      },
      "id": "node-respond-spam",
      "name": "Respond 200 (spam, stil genegeerd)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [440, 460],
      "notes": "Honeypot ingevuld => vermoedelijk bot. We geven 200 terug (zodat de bot 'succes' ziet) maar versturen/loggen niets."
    },
    {
      "parameters": {
        "content": "### Inkomend + filters\nWebhook ontvangt de JSON-POST vanuit stap 3 van elke rekenmodule (`$json.body.*`). Honeypot: bots krijgen stil een 200. Daarna valideert 'Valideer en label' de verplichte velden en vertaalt het `calculator`-id naar een nette naam voor de mails (labelmap; nieuwe rekenmodule = één regel toevoegen).",
        "height": 240,
        "width": 560,
        "color": 4
      },
      "id": "sticky-in",
      "name": "Sticky: inkomend",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-20, 40]
    },
    {
      "parameters": {
        "content": "### Verwerken (gedeeld voor alle 10 rekenmodules)\nVolgorde bewust: 1) OPSLAAN in Google Sheets (lead veilig), 2) direct 200 naar de bezoeker, 3) bevestigingsmail naar de aanvrager, 4) interne notificatie (reply-to = aanvrager). Faalt een mail na 3 pogingen, dan is de lead al opgeslagen en alarmeert de error workflow. Mails wisselen tekst op 'actie' (bestellen/advies).",
        "height": 250,
        "width": 940,
        "color": 5
      },
      "id": "sticky-process",
      "name": "Sticky: verwerken",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [820, -140]
    }
  ],
  "connections": {
    "Webhook: offerte-calculators": {
      "main": [
        [
          {
            "node": "Honeypot leeg? (anti-spam)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Honeypot leeg? (anti-spam)": {
      "main": [
        [
          {
            "node": "Valideer en label",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 200 (spam, stil genegeerd)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valideer en label": {
      "main": [
        [
          {
            "node": "Geldige aanvraag?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Geldige aanvraag?": {
      "main": [
        [
          {
            "node": "Google Sheets: aanvraag opslaan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 400 (ongeldig)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets: aanvraag opslaan": {
      "main": [
        [
          {
            "node": "Respond 200 (OK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond 200 (OK)": {
      "main": [
        [
          {
            "node": "Mailjet: bevestiging naar aanvrager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mailjet: bevestiging naar aanvrager": {
      "main": [
        [
          {
            "node": "Mailjet: interne notificatie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
